rect.node {
    stroke: none;
    cursor: pointer;
}
rect.node-group {
  display:none;
}

.flow {
  fill: #000;
  fill-opacity: .2;;
}
.node-group-label path {
  fill: none;
  stroke-width: 3px;
  stroke: #777;
}
.node-group-label text {
  font-size: 12px;
  font-weight: 600;
  cursor: default;
}
.layer-label {
  font-size: 14px;
  font-weight: 600;
  cursor:default;
}
